.purchase-block {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../master/img/purchase-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 125px 0;
    text-align: center;
}

.purchase-block__header {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.purchase-block__sub-header {
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

.purchase-block__button {
    background-color: #18cfab;
    box-shadow: #ffffff 0 -4px 0 0;
}
