.gallery{
    height: 100%;
    width:100%;
    background-color: #f8fcfe;
}

.gallery-container{
    margin: 0 auto;
    padding: 98px 20px 82px 20px;
    width: 1200px;
}

.masonry{
    width: 1140px;
    margin: 0 auto;
}

.masonry:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer{
    width: 33.333%;
}

.grid-item{
    display: block;
    width: 370px;
    float: left;
    padding: 0;
    margin-bottom: 17px;
}

.grid-item.mid{
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin-bottom: 3px;
}

.grid-item.small{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 363px;
}
.grid-item.last{
    display: block;
    width: 363px;
}

.grid-item.small img{
    margin-bottom: 3px;
}

.grid-item img{
    display: block;
}
