@font-face {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 100%;
    height: 1012px;
    margin: 0 auto;
    justify-content: center;
    background: url(../img/header_bg.jpg) fixed;
}

/* Navigation */

.navigation {
    display: block;
    position: fixed;
    width: 100%;
    height: 120px;
    background-color:  rgba(73, 71, 63, 0.6);
}

.navigation-container{
    display: flex;
    width: 1200px;
    padding: 0 20px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    width: 197px;
    height: 67px;
    text-decoration: none;
    color: #fff;
}

.logo:hover{
    cursor: pointer;
}

.logo-polygon{
    font-family: 'Montserrat', sans-serif;
    width: 58px;
    background: url(../img/polygon.png);
    font-weight: 700;
    color: #fff;
    font-size: 41px;
    line-height: 31px;
    text-align: center;
    padding-top:19px;
}

.logo-text{
    display: flex;
    height: 100%;
    width: 131px;
    margin-left: 8px;
    align-items: center;

}

.logo-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 0 0;
}

.logo-text .logo-highlight{
    color:  #18cfab;
    font-weight: 700;
}

.nav-items{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    width: 703px;
    height: 120px;
    justify-content: space-between;
    align-content: stretch;

    color: #b8b8b8;
}

.nav-buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons:hover{
    color: #18cfab;
    cursor: pointer;
}

.nav-buttons:hover:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    background-color: #18cfab;
}

.fas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas:hover{
    color: #18cfab;
    cursor: pointer;
}

.fas:hover:after{
    color: #18cfab;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    background-color: #18cfab;
}

/* Header Content*/

.header-container{
    font-family: 'Montserrat', sans-serif;
    height:100%;
    width: 1200px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.header-subtitle{
    margin: 366px auto 45px auto;
    font-size: 35px;
    line-height: 24px;
}

.highlight {
    display: inline;
    color:  #18cfab;
    line-height: 24px;
}

.header-title{
    margin: 0 auto;
    font-size: 79px;
    line-height: 57px;
}

.header-message{
    margin: 37px auto 0 auto;
    text-transform: capitalize;
    font-weight: 300;
    color: #d4d4d4;
    font-size: 34px;
}

.header-btn{
    display: inline-flex;
    margin: 146px 28px 0 0;
    width: 166px;
    height: 61px;
    background-color:  #18cfab;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px white;
    text-decoration: none;
}

.header-btn:nth-child(odd){
    background-color: #00cbf6;
}


